/* --------PC-------- */
@media (min-width: 1000px) {
  /* 헤더  */
  header {
    overflow: hidden;
  }

  header .pc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
  }

  header .pc ul {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-family: "Freesentation-9Black";
  }
  header .pc h1 {
    width: 70px;
    height: 70px;
  }
  header .pc h1 img {
    width: 100%;
    height: 100%;
  }
  header .pc .down i {
    font-size: 13px;
    margin-left: 10px;
  }

  header .menu_wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
  }

  header .menu_wrap > ul {
    width: 100%;
    height: 100%;
    padding: 300px 0px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-family: "Freesentation-9Black";
    color: var(--color);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 11;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header .menu_wrap > ul > li {
    width: calc(100% / 5 - 30px);
  }

  header .menu_wrap > ul > li > a {
    font-size: 30px;
  }

  header .menu_wrap .sub_menu {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    font-family: "Freesentation-8ExtraBold";
  }

  header .menu_wrap .close {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 25px;
    color: var(--color);
  }
  header .menu_wrap .sub_menu li:hover {
    text-decoration: underline;
  }
  header .mobile {
    display: none;
  }

  header.on .pc {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(111, 115, 119, 0.2) 0px 8px 24px;
  }
  /* 비쥬얼 */
  .visual {
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
    position: relative;
  }
  .visual .wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .visual h2 {
    font-size: 80px;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    color: var(--color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .visual span {
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
  }
  .visual p {
    font-size: 20px;
    text-align: center;
    font-family: "Freesentation-9Black";
    transform: translateY(100px);
    color: var(--color);
  }
  .visual a {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 8;
  }

  /* con1 */
  .con1 {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    color: var(--color);
  }
  .con1 h3 {
    font-size: 45px;
    font-family: "Abhaya Libre", serif;
    font-weight: 200;
    margin-bottom: 10px;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
  }

  .con1 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .con1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
  }
  .con1 ul li {
    width: calc(100% / 3 - 20px);
    transform: translateY(100px);
    transition: 0.5s;
    opacity: 0;
  }

  .con1.on li {
    transform: translateY(0px);
    opacity: 1;
  }

  .con1 li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .con1 li:nth-child(2) {
    transition-delay: 0.4s;
  }
  .con1 li:nth-child(3) {
    transition-delay: 0.6s;
  }

  .con1 ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con1 ul p {
    font-family: "Freesentation-9Black";
    transform: translate(30px, -55px);
  }
  /* con2 */
  .con2 {
    width: 100%;
    padding: 100px 0px;
    color: var(--color);
    overflow: hidden;
  }
  .con2 h3 {
    width: 650px;
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 300;
    margin: 0 auto 50px;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0;
  }

  .con2 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }

  .con2 .bg_y {
    background-color: #fceea3;
  }
  .con2 .bg_r {
    color: #ff684f;
  }
  .con2 .tit_left {
    display: block;
    margin-left: 150px;
  }
  .con2 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .con2 .c1 .txt {
    padding: 100px;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }

  .con2 .c1 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .c1 .txt_image {
    transform: translateX(100%);
    transition: 1.8s;
    opacity: 0;
  }

  .con2 .c1 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .c2 .txt {
    transform: translateX(100%);
    transition: 1.5s;
    opacity: 0;
  }

  .con2 .c2 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .c2 .txt_image {
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }

  .con2 .c2 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .txt span {
    font-size: 14px;
    font-weight: 500;
    margin: 100px 0px 20px;
    display: block;
  }

  .con2 .txt h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .con2 .txt p {
    line-height: 25px;
    margin-bottom: 50px;
  }

  .con2 .txt_image {
    width: 65%;
    height: 500px;
  }

  .con2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con2 div {
    width: 100px;
    text-align: center;
    padding: 13px 10px;
    display: block;
    color: #fff;
    background-color: #004236;
  }

  .con2 .c2 .txt {
    padding: 100px;
    margin-right: 150px;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
  }

  /* 흐르는 텍스트 */

  .marquee-container {
    width: 100%;
    overflow: hidden;
    color: var(--color);
    font-size: 70px;
    font-family: "Abhaya Libre", serif;
  }

  .marquee-text {
    display: flex;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  .repeat-text {
    margin-left: 20px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* con3 */
  .con3 {
    width: 100%;
    padding: 100px 0px;
    color: var(--color);
  }
  .con3 > ul {
    display: flex;
    justify-content: center;
  }
  .con3 > ul > li {
    width: calc(100% / 2);
  }

  .con3 .texture {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 150px;
  }

  .con3 .texture li {
    width: 300px;
    height: 380px;
    object-fit: cover;
    opacity: 0;
    transition: 3s;
  }

  .con3 .texture li:nth-child(1) {
    transition: 1.5s;
  }
  .con3 .texture li:nth-child(2) {
    transition: 3.7s;
  }

  .con3.on .texture li {
    opacity: 1;
  }

  .texture li:nth-child(1) {
    margin: 120px 0px 0px -120px;
  }

  .con3 .texture img {
    width: 400px;
    height: 550px;
  }
  .con3 .texture p {
    font-size: 45px;
    margin: 20px 0px 0px -30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(150px);
    transition: 1s;
    opacity: 0;
  }

  .con3.on .texture p {
    transform: translateY(0px);
    opacity: 1;
  }

  .con3 ul li:nth-child(2) h3 {
    text-align: center;
    margin: 80px 0px 15px;
    font-size: 35px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(-50px);
    transition: 1s;
    opacity: 0;
  }

  .con3.on ul li:nth-child(2) h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  .soap {
    font-family: "Freesentation-9Black";
  }
  .soap > ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s;
  }

  .soap > ul > li {
    margin-top: 20px;
  }

  .soap > ul:nth-child(1) {
    transition: 0.8s;
  }
  .soap > ul:nth-child(2) {
    transition: 1.5s;
  }

  .soap img {
    width: 150px;
  }
  .soap h4 {
    margin: 10px 0px;
    transition: 0.8s;
    transform: translateY(20px);
    opacity: 0;
  }
  .soap p {
    font-size: 14px;
    width: 300px;
    transition: 1.5s;
    transform: translateY(20px);
    opacity: 0;
  }

  .soap_tag {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    width: 250px;
    font-size: 13px;
    flex-wrap: wrap;
  }

  .soap_tag li {
    padding: 3px;
    background-color: #eee;
    transform: translateY(20px);
    opacity: 0;
  }

  .con3.on .soap > ul {
    transform: translateX(0);
    opacity: 1;
  }

  .con3.on .soap h4 {
    transform: translateX(0);
    opacity: 1;
  }
  .con3.on .soap p {
    transform: translateX(0);
    opacity: 1;
  }

  .con3 .soap_tag li.on {
    transform: translateX(0);
    opacity: 1;
    transition: 0.3s;
  }

  /* con4 */
  .con4 {
    width: 100%;
    padding: 200px 100px;
    box-sizing: border-box;
    color: var(--color);
  }
  .con4 h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(50px);
    opacity: 0;
  }
  .con4.on h3 {
    transform: translateY(0px);
    opacity: 1;
    transition: 1.5s;
  }

  .con4 ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .con4 ul li {
    width: calc(100% / 5 - 30px);
    transition: 0.8s;
    transform: rotateY(90deg);
    opacity: 0;
  }

  .con4 ul li.on {
    transform: rotateY(0deg);
    opacity: 1;
  }
  .con4 ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con4 ul p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-family: "Freesentation-9Black";
  }

  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }
  footer ul {
    display: flex;
  }

  footer ul li {
    width: calc(100% / 2);
  }

  footer ul li:nth-child(1) {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    padding: 50px;
    box-sizing: border-box;
  }
  footer ul li:nth-child(2) {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 300px;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    font-size: 22px;
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
  }

  footer > div {
    font-size: 14px;
    padding: 20px 50px;
    box-sizing: border-box;
  }
}
/* --------태블릿-------- */
@media (min-width: 700px) and (max-width: 1000px) {
  /* 헤더  */
  header {
    overflow: hidden;
  }

  header .pc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
  }

  header .pc ul {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-family: "Freesentation-9Black";
  }
  header .pc h1 {
    width: 70px;
    height: 70px;
  }
  header .pc h1 img {
    width: 100%;
    height: 100%;
  }
  header .pc .down i {
    font-size: 13px;
    margin-left: 10px;
  }

  header .menu_wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
  }

  header .menu_wrap > ul {
    width: 100%;
    height: 100%;
    padding: 300px 0px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-family: "Freesentation-9Black";
    color: var(--color);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 11;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header .menu_wrap > ul > li {
    width: calc(100% / 5 - 30px);
  }

  header .menu_wrap > ul > li > a {
    font-size: 17px;
  }

  header .menu_wrap .sub_menu {
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    font-family: "Freesentation-8ExtraBold";
  }

  header .menu_wrap .close {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 25px;
    color: var(--color);
  }
  header .menu_wrap .sub_menu li:hover {
    text-decoration: underline;
  }
  header .mobile {
    display: none;
  }

  header.on .pc {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(111, 115, 119, 0.2) 0px 8px 24px;
  }
  /* 비쥬얼 */
  .visual {
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
    position: relative;
  }
  .visual .wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .visual h2 {
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    color: var(--color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .visual span {
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
  }

  .visual p {
    font-size: 20px;
    text-align: center;
    font-family: "Freesentation-9Black";
    transform: translateY(100px);
    color: var(--color);
  }
  .visual a {
    width: 85%;
    height: 70%;
    display: block;
    margin: 0 auto;
  }
  .visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 10;
  }
  /* con1 */
  .con1 {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    color: var(--color);
  }
  .con1 h3 {
    font-size: 45px;
    font-family: "Abhaya Libre", serif;
    font-weight: 200;
    margin-bottom: 10px;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
  }
  .con1 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .con1 ul {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .con1 ul li {
    width: calc(100% / 3 - 10px);
    transform: translateY(100px);
    transition: 0.5s;
    opacity: 0;
  }

  .con1.on li {
    transform: translateY(0px);
    opacity: 1;
  }

  .con1 li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .con1 li:nth-child(2) {
    transition-delay: 0.4s;
  }
  .con1 li:nth-child(3) {
    transition-delay: 0.6s;
  }
  .con1 ul img {
    width: 100%;
  }
  .con1 ul p {
    font-family: "Freesentation-9Black";
    transform: translate(30px, -55px);
  }
  /* con2 */
  .con2 {
    width: 100%;
    padding: 50px 0px;
    color: var(--color);
    overflow: hidden;
  }
  .con2 h3 {
    width: 650px;
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 300;
    margin: 0 auto;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0;
  }

  .con2 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }

  .con2 .bg_y {
    background-color: #fceea3;
  }
  .con2 .bg_r {
    color: #ff684f;
  }
  .con2 .tit_left {
    display: block;
    margin-left: 150px;
  }
  .con2 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .con2 .c1 .txt {
    padding: 100px;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }
  .con2 .c1 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c1 .txt_image {
    transform: translateX(100%);
    transition: 1.8s;
    opacity: 0;
  }
  .con2 .c1 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c2 .txt {
    transform: translateX(100%);
    transition: 1.5s;
    opacity: 0;
  }
  .con2 .c2 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .c2 .txt_image {
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }

  .con2 .c2 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .txt span {
    font-size: 14px;
    font-weight: 500;
    margin: 100px 0px 20px;
    display: block;
  }

  .con2 .txt h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .con2 .txt p {
    line-height: 25px;
    margin-bottom: 50px;
  }

  .con2 .txt_image {
    width: 65%;
    height: 500px;
  }

  .con2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con2 div {
    width: 100px;
    text-align: center;
    padding: 13px 10px;
    display: block;
    color: #fff;
    background-color: #004236;
  }

  .con2 .c2 .txt {
    padding: 100px;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
  }

  /* 흐르는 텍스트 */

  .marquee-container {
    width: 100%;
    overflow: hidden;
    color: var(--color);
    font-size: 70px;
    font-family: "Abhaya Libre", serif;
  }

  .marquee-text {
    display: flex;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  .repeat-text {
    margin-left: 20px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  /* con3 */
  .con3 {
    width: 100%;
    padding: 100px 0px;
    color: var(--color);
  }
  .con3 > ul {
    display: flex;
    justify-content: center;
  }
  .con3 > ul > li {
    width: calc(100% / 2);
  }
  .con3 > ul > li:nth-child(1) {
    overflow: hidden;
  }

  .con3 .texture {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .con3 .texture li {
    width: 200px;
    height: 300px;
    object-fit: cover;
    opacity: 0;
    transition: 3s;
  }

  .con3 .texture li:nth-child(1) {
    margin: 100px 0px 0px -100px;
    transition: 1.5s;
  }
  .con3 .texture li:nth-child(2) {
    transition: 3.7s;
  }
  .con3.on .texture li {
    opacity: 1;
  }

  .con3 .texture img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .con3 .texture p {
    font-size: 35px;
    margin: 20px 0px 0px -50px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(150px);
    transition: 1s;
    opacity: 0;
  }

  .con3.on .texture p {
    transform: translateY(0px);
    opacity: 1;
  }

  .con3 ul li:nth-child(2) h3 {
    text-align: center;
    margin: 30px 0px 15px;
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(-50px);
    transition: 1s;
    opacity: 0;
  }
  .con3.on ul li:nth-child(2) h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  .soap {
    font-family: "Freesentation-9Black";
  }
  .soap > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s;
  }

  .soap > ul > li {
    margin-top: 20px;
  }

  .soap > ul:nth-child(1) {
    transition: 0.8s;
  }
  .soap > ul:nth-child(2) {
    transition: 1.5s;
  }

  .soap > ul > li:nth-child(1) {
    width: 100px;
  }
  .soap > ul > li:nth-child(2) {
    width: 70%;
  }
  .soap img {
    width: 100%;
  }
  .soap h4 {
    margin: 10px 0px;
    transition: 0.8s;
    transform: translateY(20px);
    opacity: 0;
  }
  .soap p {
    font-size: 11px;
    transition: 1.5s;
    transform: translateY(20px);
    opacity: 0;
  }

  .soap_tag {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    font-size: 13px;
    flex-wrap: wrap;
  }

  .soap_tag li {
    padding: 3px;
    background-color: #eee;
    transform: translateY(20px);
    opacity: 0;
  }

  .con3.on .soap > ul {
    transform: translateX(0);
    opacity: 1;
  }

  .con3.on .soap h4 {
    transform: translateX(0);
    opacity: 1;
  }
  .con3.on .soap p {
    transform: translateX(0);
    opacity: 1;
  }

  .con3 .soap_tag li.on {
    transform: translateX(0);
    opacity: 1;
    transition: 0.3s;
  }
  /* con4 */

  .con4 {
    width: 100%;
    padding: 200px 0px;
    box-sizing: border-box;
    color: var(--color);
  }
  .con4 h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(50px);
    opacity: 0;
  }
  .con4.on h3 {
    transform: translateY(0px);
    opacity: 1;
    transition: 1.5s;
  }
  .con4 ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .con4 ul li {
    width: calc(100% / 5 - 30px);
    transition: 0.8s;
    transform: rotateY(90deg);
    opacity: 0;
  }

  .con4 ul li.on {
    transform: rotateY(0deg);
    opacity: 1;
  }
  .con4 ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con4 ul p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    font-family: "Freesentation-9Black";
  }

  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }
  footer ul {
    display: flex;
  }

  footer ul li {
    width: calc(100% / 2);
  }

  footer ul li:nth-child(1) {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    padding: 50px;
    box-sizing: border-box;
  }
  footer ul li:nth-child(2) {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 30%;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    font-size: 22px;
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
  }

  footer > div {
    font-size: 14px;
    padding: 20px 50px;
    box-sizing: border-box;
  }
}

@media (min-width: 481px) and (max-width: 699px) {
  /* 헤더  */
  header {
    width: 100%;
  }

  header .mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
  }
  header .mobile h1 {
    width: 70px;
    height: 70px;
  }
  header .mobile h1 img {
    width: 100%;
    height: 100%;
  }

  header .mobile ul {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 20px;
  }

  header .menu_wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
  }

  header .menu_wrap > ul {
    width: 100%;
    height: 100vh;
    padding: 30px 0px;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
    color: var(--color);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 11;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header .menu_wrap > ul > li {
    height: calc(100% / 5);
  }
  header .menu_wrap > ul > li > a {
    font-size: 20px;
  }

  header .menu_wrap .sub_menu {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: "Freesentation-8ExtraBold";
  }

  header .menu_wrap .close {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 25px;
    color: var(--color);
  }
  header .menu_wrap .sub_menu li:hover {
    text-decoration: underline;
  }

  header .pc {
    display: none;
  }

  header.on .mobile {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(111, 115, 119, 0.2) 0px 8px 24px;
  }

  /* 비쥬얼 */
  .visual {
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
    position: relative;
  }
  .visual .wrap {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  .visual h2 {
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    color: var(--color);
  }
  .visual span {
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
  }
  .visual p {
    font-size: 20px;
    text-align: center;
    font-family: "Freesentation-9Black";
    /* transform: translateY(100px); */
    color: var(--color);
  }
  .visual img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* con1 */
  .con1 {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    color: var(--color);
  }
  .con1 h3 {
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 200;
    margin-bottom: 10px;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
  }

  .con1 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .con1 ul {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .con1 ul li {
    width: calc(100% / 3 - 10px);
    transform: translateY(100px);
    transition: 0.5s;
    opacity: 0;
  }
  .con1 li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .con1 li:nth-child(2) {
    transition-delay: 0.4s;
  }
  .con1 li:nth-child(3) {
    transition-delay: 0.6s;
  }
  .con1.on li {
    transform: translateY(0px);
    opacity: 1;
  }

  .con1 ul img {
    width: 100%;
  }
  .con1 ul p {
    font-size: 8px;
    font-family: "Freesentation-9Black";

    transform: translateY(-30px);
    text-align: center;
  }

  /* con2 */
  .con2 {
    width: 100%;
    padding: 50px 0px;
    color: var(--color);
    overflow: hidden;
  }
  .con2 h3 {
    width: 90%;
    font-size: 20px;
    font-family: "Abhaya Libre", serif;
    font-weight: 300;
    margin: 0 auto;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0;
  }
  .con2 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }

  .con2 .bg_y {
    background-color: #fceea3;
  }
  .con2 .bg_r {
    color: #ff684f;
  }
  .con2 .tit_left {
    display: block;
    margin-left: 50px;
  }
  .con2 ul {
    width: 100%;
  }
  .con2 .c1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .con2 .c1 .txt {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
    order: 2 !important;
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }
  .con2 .c1 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c1 .txt_image {
    order: 1 !important;
    transform: translateX(100%);
    transition: 1.8s;
    opacity: 0;
  }
  .con2 .c1 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c2 .txt {
    transform: translateX(100%);
    transition: 1.5s;
    opacity: 0;
  }
  .con2 .c2 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c2 .txt_image {
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }

  .con2 .c2 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .txt span {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }

  .con2 .txt h4 {
    margin-bottom: 20px;
  }

  .con2 .txt p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .con2 .txt_image {
    width: 80%;
    height: 250px;
    margin: 0 auto 30px;
  }

  .con2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con2 div {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 14px;
    display: block;
    color: #fff;
    background-color: #004236;
  }

  .con2 .c2 .txt {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
  }

  /* 흐르는 텍스트 */

  .marquee-container {
    width: 100%;
    overflow: hidden;
    color: var(--color);
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
  }

  .marquee-text {
    display: flex;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  .repeat-text {
    margin-left: 20px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  /* con3 */
  .con3 {
    width: 100%;
    padding: 100px 0px;
    color: var(--color);
    overflow: hidden;
  }

  .con3 .texture {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .con3 .texture li {
    width: 200px;
    height: 150px;

    object-fit: cover;
    opacity: 0;
    transition: 3s;
  }

  .con3 .texture li:nth-child(1) {
    margin: 100px 0px 0px -80px;
    transition: 1.5s;
  }
  .con3 .texture li:nth-child(2) {
    transition: 3.7s;
  }
  .con3.on .texture li {
    opacity: 1;
  }

  .con3 .texture img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .con3 .texture p {
    font-size: 35px;
    margin: 20px 0px 0px -50px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(150px);
    transition: 1s;
    opacity: 0;
  }
  .con3.on .texture p {
    transform: translateY(0px);
    opacity: 1;
  }

  .con3 ul li:nth-child(2) h3 {
    font-size: 25px;
    text-align: center;
    margin: 50px 0px 15px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(-50px);
    transition: 1.5s;
    opacity: 0;
  }
  .con3.on ul li:nth-child(2) h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  .con3 > ul > li:nth-child(2) {
    width: 90%;
    margin: 0 auto;
  }

  .soap {
    width: 90%;
    margin: 0px auto;
    font-family: "Freesentation-9Black";
  }
  .soap > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(80px);
    opacity: 0;
    transition: 1.5s;
  }
  .soap > ul:nth-child(1) {
    transition: 1.5s;
  }
  .soap > ul:nth-child(2) {
    transition: 1.8s;
  }
  .soap > ul > li {
    margin-top: 20px;
  }
  .soap > ul > li:nth-child(1) {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .soap > ul > li:nth-child(2) {
    width: 70%;
  }

  .soap img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .soap h4 {
    font-size: 15px;
    line-height: 30px;
    transition: 1.5s;
    transform: translateY(20px);
    opacity: 0;
  }
  .soap p {
    font-size: 8px;
    width: 100%;
    transition: 1.8s;
    transform: translateY(20px);
    opacity: 0;
  }

  .soap_tag {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    font-size: 10px;
    flex-wrap: wrap;
  }

  .soap_tag li {
    padding: 3px;
    background-color: #eee;
    transform: translateY(20px);
    opacity: 0;
  }

  .con3.on .soap > ul {
    transform: translateX(0);
    opacity: 1;
  }

  .con3.on .soap h4 {
    transform: translateX(0);
    opacity: 1;
  }
  .con3.on .soap p {
    transform: translateX(0);
    opacity: 1;
  }

  .con3 .soap_tag li.on {
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
  }
  /* con4 */
  .con4 {
    width: 100%;
    padding: 30px 0px 100px;
    color: var(--color);
    overflow: hidden;
  }

  .con4 h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(50px);
    opacity: 0;
  }
  .con4.on h3 {
    transform: translateY(0px);
    opacity: 1;
    transition: 1.5s;
  }
  .con4 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .con4 ul li {
    width: calc(100% / 5 - 20px);
    transition: 0.8s;
    transform: rotateY(90deg);
    opacity: 0;
  }
  .con4 ul li.on {
    transform: rotateY(0deg);
    opacity: 1;
  }
  .con4 ul img {
    /* width: 250px;
    height: 250px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con4 ul p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    font-family: "Freesentation-9Black";
  }

  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }

  footer ul li:nth-child(1) {
    display: none;
  }
  footer ul li:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 30%;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    font-size: 15px;
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
  }

  footer > div {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
  }
}

/* --------모바일-------- */
@media (max-width: 480px) {
  /* 헤더  */
  header {
    width: 100%;
  }

  header .mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
  }
  header .mobile h1 {
    width: 70px;
    height: 70px;
  }
  header .mobile h1 img {
    width: 100%;
    height: 100%;
  }

  header .mobile ul {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 20px;
  }

  header .menu_wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
  }

  header .menu_wrap > ul {
    width: 100%;
    height: 100vh;
    padding: 30px 0px;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
    color: var(--color);
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 11;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  header .menu_wrap > ul > li {
    height: calc(100% / 5);
  }
  header .menu_wrap > ul > li > a {
    font-size: 20px;
  }

  header .menu_wrap .sub_menu {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: "Freesentation-8ExtraBold";
  }

  header .menu_wrap .close {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 25px;
    color: var(--color);
  }
  header .menu_wrap .sub_menu li:hover {
    text-decoration: underline;
  }

  header .pc {
    display: none;
  }

  header.on .mobile {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgba(111, 115, 119, 0.2) 0px 8px 24px;
  }
  /* 비쥬얼 */

  .visual {
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
    position: relative;
  }
  .visual .wrap {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  .visual h2 {
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    color: var(--color);
  }
  .visual span {
    font-size: 28px;
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
  }
  .visual p {
    font-size: 15px;
    text-align: center;
    font-family: "Freesentation-9Black";
    /* transform: translateY(100px); */
    color: var(--color);
  }
  .visual img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  /* con1 */
  .con1 {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
    color: var(--color);
  }
  .con1 h3 {
    font-size: 30px;
    font-family: "Abhaya Libre", serif;
    font-weight: 200;
    margin-bottom: 10px;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
  }

  .con1 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }
  .con1 ul {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .con1 ul li {
    width: calc(100% / 3 - 10px);
    transform: translateY(100px);
    transition: 0.5s;
    opacity: 0;
  }
  .con1 li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .con1 li:nth-child(2) {
    transition-delay: 0.4s;
  }
  .con1 li:nth-child(3) {
    transition-delay: 0.6s;
  }
  .con1.on li {
    transform: translateY(0px);
    opacity: 1;
  }

  .con1 ul img {
    width: 100%;
  }
  .con1 ul p {
    font-size: 8px;
    font-family: "Freesentation-9Black";

    transform: translateY(-30px);
    text-align: center;
  }

  /* con2 */
  .con2 {
    width: 100%;
    padding: 50px 0px;
    color: var(--color);
    overflow: hidden;
  }
  .con2 h3 {
    width: 90%;
    font-size: 20px;
    font-family: "Abhaya Libre", serif;
    font-weight: 300;
    margin: 0 auto;
    transition: 1s;
    transform: translateY(100px);
    opacity: 0;
  }
  .con2 h3.on {
    transform: translateY(0px);
    opacity: 1;
  }

  .con2 .bg_y {
    background-color: #fceea3;
  }
  .con2 .bg_r {
    color: #ff684f;
  }
  .con2 .tit_left {
    display: block;
    margin-left: 50px;
  }
  .con2 ul {
    width: 100%;
  }
  .con2 .c1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .con2 .c1 .txt {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
    order: 2 !important;
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }
  .con2 .c1 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c1 .txt_image {
    order: 1 !important;
    transform: translateX(100%);
    transition: 1.8s;
    opacity: 0;
  }
  .con2 .c1 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c2 .txt {
    transform: translateX(100%);
    transition: 1.5s;
    opacity: 0;
  }
  .con2 .c2 .txt.on {
    transform: translateX(0);
    opacity: 1;
  }
  .con2 .c2 .txt_image {
    transform: translateX(-100%);
    transition: 1.8s;
    opacity: 0;
  }

  .con2 .c2 .txt_image.on {
    transform: translateX(0);
    opacity: 1;
  }

  .con2 .txt span {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }

  .con2 .txt h4 {
    margin-bottom: 20px;
  }

  .con2 .txt p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .con2 .txt_image {
    width: 80%;
    height: 250px;
    margin: 0 auto 30px;
  }

  .con2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con2 div {
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 14px;
    display: block;
    color: #fff;
    background-color: #004236;
  }

  .con2 .c2 .txt {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: "Freesentation-9Black";
  }

  /* 흐르는 텍스트 */

  .marquee-container {
    width: 100%;
    overflow: hidden;
    color: var(--color);
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
  }

  .marquee-text {
    display: flex;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  .repeat-text {
    margin-left: 20px;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  /* con3 */
  .con3 {
    width: 100%;
    padding: 100px 0px;
    color: var(--color);
    overflow: hidden;
  }

  .con3 .texture {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .con3 .texture li {
    width: 300px;
    height: 380px;
    object-fit: cover;
    opacity: 0;
    transition: 3s;
  }

  .con3 .texture li:nth-child(1) {
    margin: 100px 0px 0px -150px;
    transition: 1.5s;
  }
  .con3 .texture li:nth-child(2) {
    transition: 3.7s;
  }
  .con3.on .texture li {
    opacity: 1;
  }
  .con3 .texture img {
    width: 300px;
    height: 350px;
    object-fit: cover;
  }
  .con3 .texture p {
    font-size: 35px;
    margin: 20px 0px 0px -30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(150px);
    transition: 1s;
    opacity: 0;
  }
  .con3.on .texture p {
    transform: translateY(0px);
    opacity: 1;
  }
  .con3 ul li:nth-child(2) h3 {
    text-align: center;
    margin: 80px 0px 15px;
    font-size: 35px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(-50px);
    transition: 1.5s;
    opacity: 0;
  }
  .con3.on ul li:nth-child(2) h3 {
    transform: translateY(0px);
    opacity: 1;
  }
  .con3 > ul > li:nth-child(2) {
    width: 90%;
    margin: 0 auto;
  }
  .soap {
    width: 90%;
    margin: 0px auto;
    font-family: "Freesentation-9Black";
  }
  .soap > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(80px);
    opacity: 0;
    transition: 1.5s;
  }
  .soap > ul:nth-child(1) {
    transition: 1.5s;
  }
  .soap > ul:nth-child(2) {
    transition: 1.8s;
  }
  .soap > ul > li {
    margin-top: 20px;
  }
  .soap > ul > li:nth-child(1) {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .soap > ul > li:nth-child(2) {
    width: 70%;
  }
  .soap img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .soap h4 {
    font-size: 15px;
    line-height: 30px;
    transition: 1.5s;
    transform: translateY(20px);
    opacity: 0;
  }
  .soap p {
    font-size: 8px;
    width: 100%;
    transition: 1.8s;
    transform: translateY(20px);
    opacity: 0;
  }

  .soap_tag {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    font-size: 10px;
    flex-wrap: wrap;
  }

  .soap_tag li {
    padding: 3px;
    background-color: #eee;
    transform: translateY(20px);
    opacity: 0;
  }
  .con3.on .soap > ul {
    transform: translateX(0);
    opacity: 1;
  }

  .con3.on .soap h4 {
    transform: translateX(0);
    opacity: 1;
  }
  .con3.on .soap p {
    transform: translateX(0);
    opacity: 1;
  }

  .con3 .soap_tag li.on {
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
  }
  /* con4 */
  .con4 {
    width: 100%;
    padding: 30px 0px 100px;
    color: var(--color);
    overflow: hidden;
  }

  .con4 h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Abhaya Libre", serif;
    transform: translateY(50px);
    opacity: 0;
  }
  .con4.on h3 {
    transform: translateY(0px);
    opacity: 1;
    transition: 1.5s;
  }
  .con4 ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .con4 ul li {
    width: calc(100% / 5 - 10px);
    transition: 0.8s;
    transform: rotateY(90deg);
    opacity: 0;
  }
  .con4 ul li.on {
    transform: rotateY(0deg);
    opacity: 1;
  }
  .con4 ul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .con4 ul p {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    font-family: "Freesentation-9Black";
  }
  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }

  footer ul li:nth-child(1) {
    display: none;
  }
  footer ul li:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 30%;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    font-size: 15px;
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
  }

  footer > div {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
  }
}
