:root {
  --color: #004236;
}
@media (min-width: 1000px) {
  /* 헤더 */
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
  }

  header ul {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-family: "Freesentation-9Black";
  }
  header h1 {
    width: 70px;
    height: 70px;
  }
  header h1 img {
    width: 100%;
    height: 100%;
  }
  header .down i {
    font-size: 13px;
    margin-left: 10px;
  }
  header .mobile {
    display: none;
  }

  /* title */
  .title {
    width: 100%;
    padding: 120px 0px 0px;
  }
  .title ul {
    display: flex;
  }
  .title ul h2 {
    font-size: 75px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    margin: 150px 0px 0px -80px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
  }
  .title ul p {
    font-family: "Freesentation-9Black";
    margin: 10px 0px 0px 30px;
    font-size: 18px;
    line-height: 28px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  .title.on h2 {
    transform: translateY(0);
    opacity: 1;
  }
  .title.on p {
    transform: translateY(0);
    opacity: 1;
  }
  .title ul li {
    width: calc(100% / 2);
  }
  .title img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  /* con1 */
  .con1 {
    width: 100%;
    margin-top: 150px;
  }
  .con1 h3 {
    width: 650px;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 55px;
    margin: 0px auto 15px;
    color: var(--color);
    transition: 1s;
    transform: scale(0.8);
  }
  .con1 h3 span {
    width: 100px;
    margin-left: 100px;
  }
  .con1.on > h3 {
    opacity: 1;
    transform: scale(1);
  }
  .con1 p {
    font-family: "Freesentation-9Black";
    text-align: center;
    color: var(--color);
    opacity: 0;
    transform: translateY(10px);
    transition: 1.5s;
  }
  .con1.on p {
    opacity: 1;
    transform: translateY(0px);
  }
  .con1 div {
    width: 70%;
    height: 500px;
    margin: 30px auto 0px;
    position: relative;
    z-index: 2;
  }

  .con1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con1 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  .con1 h4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 55px;
    /* transform: translateY(-30px); */
    position: relative;
    z-index: 5;
    color: #888;
    opacity: 0;
    transform: translateY(-50px);
    transition: 1.5s;
    transition-delay: 0.5s;
  }
  .con1.on h4 {
    opacity: 1;
    transform: translateY(-30px);
  }
  /* con2 */
  .con2 .line {
    width: 70%;
    margin: 100px auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27%;
    position: relative;
    list-style: none;
  }

  .con2 .line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1.5px;
    background-color: #004236;
    z-index: 0;
  }

  .con2 .line li {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #004236;
    border-radius: 50%;
    z-index: 1;
  }
  .con2 .txt {
    width: 80%;
    margin: 0px auto;
    display: flex;
  }

  .con2 .txt li {
    width: calc(100% / 4);
    text-align: center;
  }

  .con2 .txt li h3 {
    font-family: "Freesentation-8ExtraBold";
    line-height: 40px;
    font-size: 23px;
    color: var(--color);
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }
  .con2 .txt li .member {
    height: 80px;
    font-family: "Freesentation-5Medium";
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.5s;
  }

  .con2 .txt li h4 {
    font-family: "Freesentation-6SemiBold";
    line-height: 35px;
    font-size: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.4s;
  }
  .con2 .txt li p {
    font-family: "Freesentation-3Light";
    margin-bottom: 20px;
    line-height: 25px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.8s;
  }
  .con2.on .txt li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li .member {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li h4 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* con3 */
  .con3 {
    width: 100%;
  }

  .con3 ul {
    width: 70%;
    display: flex;
    gap: 10px;
    margin: 50px auto;
  }

  .con3 ul li {
    width: calc(100% / 2 - 10px);
    height: 120px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
  }

  .con3 ul li img {
    width: 60px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li h3 {
    font-family: "Freesentation-8ExtraBold";
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li p {
    height: 80px;
    font-family: "Freesentation-5Medium";
    line-height: 30px;
    color: #777;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .con3.on ul li img {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }
  footer ul {
    display: flex;
  }

  footer ul li {
    width: calc(100% / 2);
  }

  footer ul li:nth-child(1) {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    padding: 50px;
    box-sizing: border-box;
  }
  footer ul li:nth-child(2) {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 300px;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    font-size: 22px;
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
  }

  footer > div {
    font-size: 14px;
    padding: 20px 50px;
    box-sizing: border-box;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  /* 헤더 */
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
  }

  header ul {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-family: "Freesentation-9Black";
  }
  header h1 {
    width: 70px;
    height: 70px;
  }
  header h1 img {
    width: 100%;
    height: 100%;
  }
  header .down i {
    font-size: 13px;
    margin-left: 10px;
  }
  header .mobile {
    display: none;
  }

  /* title */
  .title {
    width: 100%;
    padding: 120px 0px 0px;
  }
  .title ul {
    display: flex;
  }
  .title ul h2 {
    font-size: 75px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    margin: 150px 0px 0px -80px;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
  }
  .title ul p {
    font-family: "Freesentation-9Black";
    margin: 10px 0px 0px 30px;
    font-size: 16px;
    line-height: 25px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  .title.on h2 {
    transform: translateY(0);
    opacity: 1;
  }
  .title.on p {
    transform: translateY(0);
    opacity: 1;
  }
  .title ul li {
    width: calc(100% / 2);
  }
  .title img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  /* con1 */
  .con1 {
    width: 100%;
    margin-top: 150px;
  }
  .con1 h3 {
    text-align: center;
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 45px;
    margin: 0px auto 15px;
    color: var(--color);
    transition: 1s;
    transform: scale(0.8);
  }
  .con1 h3 span {
    width: 100px;
    margin-left: 100px;
  }

  .con1 p {
    font-family: "Freesentation-9Black";
    text-align: center;
    color: var(--color);
    opacity: 0;
    transform: translateY(10px);
    transition: 1.5s;
  }
  .con1.on > h3 {
    opacity: 1;
    transform: scale(1);
  }
  .con1.on p {
    opacity: 1;
    transform: translateY(0px);
  }
  .con1 div {
    width: 70%;
    height: 500px;
    margin: 30px auto 0px;
    position: relative;
    z-index: 2;
  }

  .con1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con1 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  .con1 h4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 35px;
    position: relative;
    z-index: 5;
    color: #888;
    opacity: 0;
    transform: translateY(-40px);
    transition: 1.5s;
    transition-delay: 0.5s;
  }
  .con1.on h4 {
    opacity: 1;
    transform: translateY(-20px);
  }
  /* con2 */
  .con2 .line {
    width: 70%;
    margin: 100px auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27%;
    position: relative;
    list-style: none;
  }

  .con2 .line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1.5px;
    background-color: #004236;
    z-index: 0;
  }

  .con2 .line li {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #004236;
    border-radius: 50%;
    z-index: 1;
  }
  .con2 .txt {
    width: 80%;
    margin: 0px auto;
    display: flex;
  }

  .con2 .txt li {
    width: calc(100% / 4);
    text-align: center;
  }

  .con2 .txt li h3 {
    font-family: "Freesentation-8ExtraBold";
    line-height: 40px;
    font-size: 23px;
    color: var(--color);
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }
  .con2 .txt li .member {
    height: 80px;
    font-family: "Freesentation-5Medium";
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.5s;
  }
  .con2 .txt li h4 {
    font-family: "Freesentation-6SemiBold";
    line-height: 35px;
    font-size: 18px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.4s;
  }
  .con2 .txt li p {
    font-family: "Freesentation-3Light";
    margin-bottom: 20px;
    line-height: 25px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.8s;
  }
  .con2.on .txt li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li .member {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li h4 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* con3 */
  .con3 {
    width: 100%;
  }

  .con3 ul {
    width: 80%;
    display: flex;
    gap: 10px;
    margin: 50px auto;
  }

  .con3 ul li {
    width: calc(100% / 2 - 10px);
    height: 120px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
  }

  .con3 ul li img {
    width: 50px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li h3 {
    font-size: 15px;
    font-family: "Freesentation-8ExtraBold";
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li p {
    font-size: 14px;
    height: 80px;
    font-family: "Freesentation-5Medium";
    line-height: 30px;
    color: #777;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .con3.on ul li img {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }
  footer ul {
    display: flex;
  }

  footer ul li {
    width: calc(100% / 2);
  }

  footer ul li:nth-child(1) {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    padding: 50px;
    box-sizing: border-box;
  }
  footer ul li:nth-child(2) {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 300px;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    font-size: 22px;
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 35px;
  }

  footer > div {
    font-size: 14px;
    padding: 20px 50px;
    box-sizing: border-box;
  }
}

@media (min-width: 481px) and (max-width: 699px) {
  /* 헤더  */
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
  }
  header h1 {
    width: 50px;
    height: 50px;
  }
  header h1 img {
    width: 100%;
    height: 100%;
  }

  header ul {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 20px;
  }

  header .pc {
    display: none;
  }
  /* title */
  .title {
    width: 100%;
    padding: 80px 0px 0px;
  }

  .title ul h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
  }
  .title ul p {
    width: 80%;
    margin: 0 auto;
    font-family: "Freesentation-9Black";
    text-align: center;
    font-size: 15px;
    line-height: 23px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
  .title.on h2 {
    transform: translateY(0);
    opacity: 1;
  }
  .title.on p {
    transform: translateY(0);
    opacity: 1;
  }
  .title img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  /* con1 */
  .con1 {
    width: 100%;
    margin-top: 150px;
  }
  .con1 h3 {
    font-family: "Abhaya Libre", serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 0px auto 15px;
    color: var(--color);
    transition: 1s;
    transform: scale(0.8);
  }
  .con1 h3 span {
    width: 50px;
    margin-left: 20px;
  }

  .con1 p {
    font-family: "Freesentation-9Black";
    text-align: center;
    color: var(--color);
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px);
    transition: 1.5s;
  }
  .con1.on > h3 {
    opacity: 1;
    transform: scale(1);
  }
  .con1.on p {
    opacity: 1;
    transform: translateY(0px);
  }
  .con1 div {
    width: 70%;
    height: 250px;
    margin: 30px auto 0px;
    position: relative;
    z-index: 2;
  }

  .con1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con1 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  .con1 h4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 20px;
    transform: translateY(-15px);
    position: relative;
    z-index: 5;
    color: #888;
    opacity: 0;
    transform: translateY(-40px);
    transition: 1.5s;
    transition-delay: 0.5s;
  }
  .con1.on h4 {
    opacity: 1;
    transform: translateY(-20px);
  }
  /* con2 */
  .con2 .line {
    width: 70%;
    margin: 50px auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27%;
    position: relative;
    list-style: none;
  }

  .con2 .line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #004236;
    z-index: 0;
  }

  .con2 .line li {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 1px solid #004236;
    border-radius: 50%;
    z-index: 1;
  }
  .con2 .txt {
    width: 85%;
    margin: 0px auto;
    display: flex;
  }

  .con2 .txt li {
    width: calc(100% / 4);
    text-align: center;
  }

  .con2 .txt li h3 {
    font-family: "Freesentation-8ExtraBold";
    line-height: 40px;
    font-size: 16px;
    color: var(--color);
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }
  .con2 .txt li .member {
    height: 80px;
    font-family: "Freesentation-5Medium";
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.5s;
  }
  .con2 .txt li h4 {
    font-family: "Freesentation-6SemiBold";
    line-height: 35px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.4s;
  }

  .con2 .txt li p {
    font-family: "Freesentation-3Light";
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.8s;
  }
  .con2.on .txt li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li .member {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li h4 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* con3 */
  .con3 {
    width: 100%;
  }

  .con3 ul {
    width: 70%;
    margin: 50px auto;
  }

  .con3 ul li {
    margin-top: 10px;
    height: 120px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
  }

  .con3 ul li img {
    width: 40px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li h3 {
    font-size: 16px;
    font-family: "Freesentation-8ExtraBold";
    font-weight: 800;
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li p {
    font-size: 14px;
    height: 80px;
    font-family: "Freesentation-5Medium";
    line-height: 30px;
    color: #777;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .con3.on ul li img {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }

  footer ul li:nth-child(1) {
    display: none;
  }
  footer ul li:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 30%;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    font-size: 15px;
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
  }

  footer > div {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  /* 헤더  */
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-sizing: border-box;
    color: var(--color);
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
  }
  header h1 {
    width: 50px;
    height: 50px;
  }
  header h1 img {
    width: 100%;
    height: 100%;
  }

  header ul {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 20px;
  }

  header .pc {
    display: none;
  }
  /* title */
  .title {
    width: 100%;
    padding: 80px 0px 0px;
  }

  .title ul h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s;
  }
  .title ul p {
    width: 80%;
    margin: 0 auto;
    font-family: "Freesentation-9Black";
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(20px);
    opacity: 0;
    transition: 1s;
  }
  .title.on h2 {
    transform: translateY(0);
    opacity: 1;
  }
  .title.on p {
    transform: translateY(0);
    opacity: 1;
  }
  .title img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  /* con1 */
  .con1 {
    width: 100%;
    margin-top: 150px;
  }
  .con1 h3 {
    font-family: "Abhaya Libre", serif;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 0px auto 15px;
    color: var(--color);
    transition: 1s;
    transform: scale(0.8);
  }
  .con1 h3 span {
    width: 50px;
    margin-left: 20px;
  }

  .con1 p {
    font-family: "Freesentation-9Black";
    text-align: center;
    color: var(--color);
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px);
    transition: 1.5s;
  }
  .con1.on > h3 {
    opacity: 1;
    transform: scale(1);
  }
  .con1.on p {
    opacity: 1;
    transform: translateY(0px);
  }
  .con1 div {
    width: 70%;
    height: 250px;
    margin: 30px auto 0px;
    position: relative;
    z-index: 2;
  }

  .con1 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .con1 div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  .con1 h4 {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-size: 18px;
    /* transform: translateY(-15px); */
    position: relative;
    z-index: 5;
    color: #888;
    opacity: 0;
    transform: translateY(-30px);
    transition: 1.5s;
    transition-delay: 0.5s;
  }
  .con1.on h4 {
    opacity: 1;
    transform: translateY(-10px);
  }
  /* con2 */
  .con2 .line {
    width: 70%;
    margin: 50px auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27%;
    position: relative;
    list-style: none;
  }

  .con2 .line::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #004236;
    z-index: 0;
  }

  .con2 .line li {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 1px solid #004236;
    border-radius: 50%;
    z-index: 1;
  }
  .con2 .txt {
    width: 85%;
    margin: 0px auto;
    display: flex;
  }

  .con2 .txt li {
    width: calc(100% / 4);
    text-align: center;
  }

  .con2 .txt li h3 {
    font-family: "Freesentation-8ExtraBold";
    line-height: 40px;
    font-size: 16px;
    color: var(--color);
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }
  .con2 .txt li .member {
    height: 80px;
    font-family: "Freesentation-5Medium";
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.5s;
  }

  .con2 .txt li h4 {
    font-family: "Freesentation-6SemiBold";
    line-height: 35px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.4s;
  }

  .con2 .txt li p {
    font-family: "Freesentation-3Light";
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.8s;
    transition-delay: 0.8s;
  }
  .con2.on .txt li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li .member {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li h4 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con2.on .txt li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* con3 */
  .con3 {
    width: 100%;
  }

  .con3 ul {
    width: 70%;
    margin: 50px auto;
  }

  .con3 ul li {
    margin-top: 10px;
    height: 120px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
  }

  .con3 ul li img {
    width: 30px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li h3 {
    font-size: 16px;
    font-family: "Freesentation-8ExtraBold";
    margin-top: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.3s;
  }

  .con3 ul li p {
    font-size: 14px;
    height: 80px;
    font-family: "Freesentation-5Medium";
    line-height: 30px;
    color: #777;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .con3.on ul li img {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li h3 {
    opacity: 1;
    transform: translateY(0px);
  }
  .con3.on ul li p {
    opacity: 1;
    transform: translateY(0px);
  }
  /* footer */
  footer {
    width: 100%;
    color: var(--color);
  }

  footer ul li:nth-child(1) {
    display: none;
  }
  footer ul li:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  footer ul li:nth-child(2) div {
    width: 30%;
    text-align: center;
    font-family: "Freesentation-9Black";
  }
  footer ul li:nth-child(2) div h3 {
    line-height: 50px;
  }
  footer ul li:nth-child(2) div h4 {
    font-size: 15px;
    line-height: 30px;
  }
  footer .sns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 25px;
  }

  footer > div {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
  }
}
